/* #header {
} */

#header h1 {
  background-image: linear-gradient(to right, #7cb9e8, #0066b2);
  text-align: center;
}

.weather-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px;
  width: 9rem;
  background-color: #00308f;
  color: white;
  text-align: center;
}

/* #search-city {
}

#search-button {
}

#search-error {
}

#city-results {
}

#clear-storage {
}

#current-weather {
}

#five-day-forecast {
} */

.low {
  color: green;
}

.moderate {
  color: yellow;
}

.high {
  color: orange;
}

.very-high {
  color: red;
}

.extreme {
  color: violet;
}
