#header h1 {
  background-image: linear-gradient(to right, #7cb9e8, #0066b2);
  text-align: center;
}

.weather-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 200px;
  width: 9rem;
  background-color: #00308f;
  color: white;
  text-align: center;
}

.clear-btn {
  background-color: white;
  color: #00308f;
  border-radius: 0.25em;
  border-color: white;
  border-style: solid;
  font-size: 1em;
  border-radius: 0.5em;
  padding: 0.2em;
}

.low {
  color: green;
}

.moderate {
  color: yellow;
}

.high {
  color: orange;
}

.very-high {
  color: red;
}

.extreme {
  color: violet;
}
